@charset "ISO-8859-1";

body {
	background-color: #b4dce4;
	font-family: Helvetica, sans-serif;
}

/* ----------------------- NAVIGATION BAR ----------------------- */

ul {
	
  list-style-type: none;
  margin: 0;
  padding: 3px;
  overflow: hidden;
 background-color: #00ff7f;
  border-radius: 3px;
 
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
   text-align:left;
  padding: 14px 16px;
   text-decoration: none;

 
}

.active {
  background-color:#F08080;
  color: white;
}

/* --------------------- FORM STYLE ------------------ */



input[type=text],input[type=password], input[type=email], input[type=date], input[type=number], select, textarea {
  width: 95%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color:	#008000;
  color: white;
  padding: 12px 20px;
  margin-top: 8px;
   margin-left: 300px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: center;
}

.container {
	
  width: 100%;	
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
 
}

.containerTeachers{
  width: 100%;	
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}	


.col-25 {
  float: left;
  width: 150px;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 500px;
  margin-top: 6px;
}

.col-25password {
  float: left;
  width: 200px;
  margin-top: 6px;
}

.col-75password {
  float: left;
  width: 400px;
  margin-top: 6px;
}

.col-75teachers{
  float: left;
  width: 800px;
  margin-top: 6px;
}

.colGradeName{
	float: left;
	width: 180px;
	margin-top: 6px;
}

.colGrade{
	float: left;
	width: 80px;
	margin-top: 6px
}

.colSetGrade{
	float: left;
	width: 50x;
	margin-top: 6px;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}



/* --------------------- TABLE STYLE ------------------ */

#tablestyle {

  border-collapse: collapse;
  width: 100%;
}

#tablestyle td, #tablestyle th {
  border: 1px solid #ddd;
  padding: 6px;
  font-size: 12px
}

/*student compleate course */

#tablestyle2 {

  border-collapse: collapse;
  width: 100%;
}



#tablestyle2 td, tablestyle2 th {
  border: 1px solid #ddd;
  padding: 6px;
  font-size: 12px
}

#tablestyle2 tr:nth-child(even){background-color: #f2f2f2;}

#tablestyle2 tr:hover {background-color: #ddd;}

#tablestyle2 th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color:#7CFC00;
  color: white;
}

/*Student And teacher not Started course */

#tablestyle1 {

  border-collapse: collapse;
  width: 100%;
}



#tablestyle1 td, tablestyle1 th {
  border: 1px solid #ddd;
  padding: 6px;
  font-size: 12px
}

#tablestyle1 tr:nth-child(even){background-color: #f2f2f2;}

#tablestyle1 tr:hover {background-color: #ddd;}

#tablestyle1 th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color:#00FA9A;
  color: white;
}








#tablestyle tr:nth-child(even){background-color: #f2f2f2;}

#tablestyle tr:hover {background-color: #ddd;}

#tablestyle th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: 		#ff7f50;
  color: white;
}
.row{
	 align-items: center;
}

/*search optio */
.icon{
	float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}


* {
  box-sizing: border-box;
}

/* Style the search field */
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
   float:left;
  width: 19%;
  background: #f1f1f1;
  margin-left:800px;
}

/* Style the submit button */
form.example button {
  float:right;
  width: 5%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
  margin-right:195px;
}

form.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}



